.row {
  display: flex;
  height: 70px;
}

.logo {
  height: 50px;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 12px;
}

.rightContainer {
  font-family: "Oxanium", sans-serif;
  font-weight: 600;
  font-size: 34px;
  margin-left: 15px;
  padding-bottom: 7px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
