.newsWrapper {
  margin: 20px 0px 10px 0px;
  flex: 1;
}

.itemContainer {
  margin-bottom: 10px;
  font-size: 17px;
  flex: 1;
  border-bottom: 2px dashed #0574a6;
  padding-bottom: 40px;
}

.title {
  color: #dbdee3;
  font-size: 25px;
  font-weight: 500;
  flex: 1;
  margin-bottom: 20px;
}

.col {
  display: flex;
}

.imageWrapper {
  margin-left: 10px;
  height: 140px;
  width: 128px;
}

.textWrapper {
  color: #dbdee3;
  flex: 1;
  margin-left: 50px;
}
