:root {
  --text: #dbdee3;
  --text-h: #07f540;
  --bg: #373841;
  --border: #676b81;

  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;
}

#root {
  font-family: var(--sans);
  width: 900px;
  max-width: 100%;
  margin: 0 auto;
  /* border-inline: 1px solid var(--border); */
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  font-size: 30px;
  color: var(--text);
}

p {
  margin: 0;
}

body {
  background-color: #261d54;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%232c286a' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%2334367a' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%233b438a' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%2343519a' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%234A5FAA' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  /*background-color: var(--bg);*/
}

.row {
  display: flex;
}

.col {
  display: flex;
}

.site-wrapper {
  background-color: rgba(33, 33, 33, 0.5);
}

.top-bar {
  background-color: #15102f;
  height: 35px;
  background-image: repeating-linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.2) 1px,
    transparent 1px,
    transparent 6px
  );
  background-size: 3px 3px;

  display: flex;
  padding: 5px 0 5px 25px;
  height: 90px;
  color: var(--text);
  justify-content: space-between;
}

.brand-wrapper {
  margin-top: 15px;
  height: auto;
  width: 300px;
}

.nav-wrapper {
  /*border: 1px solid white;*/
  padding-bottom: 20px;
  width: 450px;
  color: var(--text);
}

.nav-drawer {
  height: 0px;
}

.banner-wrapper {
  color: white;
  /* border: 1px solid yellow; */
  /*border-radius: 10px;*/
  overflow: hidden;
  height: 254px;
}

.section-title-wrapper {
  background-color: #15102f;
  height: 35px;
  background-image: repeating-linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.2) 1px,
    transparent 1px,
    transparent 6px
  );
  background-size: 3px 3px;
}

.content {
  margin: 20px 25px 0 25px;
  color: white;
  min-height: 900px;
}

.footer {
  background-color: rgb(8, 35, 48);
  height: 200px;
  background-image: repeating-linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.2) 1px,
    transparent 1px,
    transparent 6px
  );
  background-size: 3px 3px;
}
