:root {
  --text: #dbdee3;
  --text-h: #07f540;
  --bg: #151b23;

  /* main container */
  --main-container-bg: #212830;
  --main-container-border: 1px solid rgb(255, 255, 255, 0.15);

  /* font families */
  --brand: "Oxanium", sans-serif;
  --nav: "Oxanium", sans-serif;
  --heading: "Oxanium", sans-serif;
  --paragraph: system-ui, "Segoe UI", Roboto, sans-serif;
}

#root {
  width: 900px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  font-family: var(--paragraph);
  max-width: 100%;
  min-height: 100svh;
  margin: 0 auto;
}

h1 {
  font-family: var(--heading);
  font-weight: 500;
  font-size: 25px;
  color: var(--text);
}

p {
  font-family: var(--paragraph);
  font-size: 16px;
  margin: 0;
}

body {
  background-color: var(--bg);
  margin: 0;
}

.top-bar {
  display: flex;
  height: 70px;
  padding: 0 15px 0 25px;
  margin: 70px 0 15px 0;
  color: var(--text);
  justify-content: space-between;
}

.page-body {
  background: var(--main-container-bg);
  border: var(--main-container-border);
  border-radius: 10px;
  overflow: hidden;
}

.nav-drawer {
  height: 0px;
}

.banner {
  color: white;
  overflow: hidden;
  height: 254px;
}

.content-slot {
  margin: 20px 25px 0 25px;
  min-height: 800px;
}

.page-body-close {
  height: 90px;
}

.footer-slot {
  height: 120px;
}
